%h3 ยินดีต้อนรับสู่ระบบจัดการการจองห้อง คณะวิศวกรรมศาสตร์
%h5 สวัสดี คุณ  #{@admin.username}
%span
  \=============================คำแนะนำสำหรับผู้จัดการะบบ==============================
  %br\-เมื่อมีการสร้างห้องเพิ่มมาใหม่ สามารถเพิ่มข้อมูลห้องได้จาก "เพิ่มข้อมูลห้อง"
  %br\-เมื่อจบเทอมและต้องการเปลี่ยนข้อมูลสำหรับเทอมใหม่ สามารถลบข้อมูลตารางเรียนออกจากข้อมลห้องทุกห้องได้โดยการคลิก "กำหนดข้อมูลห้องสำหรับเทอม"
  %br\-เมื่อต้องการดูรายชื่อห้องทั้งหมดที่มี สามารถทำได้โดยการคลิก "รายชื่อห้องที่มีทั้งหมดในระบบ" ซึ่งจะสามารถเข้าไปดูรายละเอียดเป็นรายห้องได้
  %br\-เมื่อต้องการดูข้อมูลการจองห้องทั้งหมด สามารถทำได้โดยการคลิก "ข้อมูลการจองที่มีทั้งหมดในระบบ"
  %br\- จะปรากฏรายการขอจองห้อง ซึ่งจะมี3สถานะ คือ ยังไม่ได้รับการพิจารณา,อนุญาต,ไม่อนุญาต
  %br\- สามารถเลือก อนุญาต,ไม่อนุญาต สำหรับการขอจองห้องได้ ซึ่งระบบจะส่งอีเมล์ไปให้กับผู้จองตามแบบฟอร์มที่ปรากฏอยู่
  %br\-ผู้ดูแลระบบ สามารถรับเรื่องขอจองห้องได้ ณ วันปัจจุบัน ซึ่งบุคคลปกติไม่สามารถจองผ่านเว็บไซต์ได้


%br
==================================================================================
%br
%br
= link_to 'เพิ่มห้องใหม่', new_room_path
&nbsp;&nbsp;&nbsp;
= link_to 'กำหนดข้อมูลห้องสำหรับเทอมใหม่', @admin, method: :put, data: { confirm: 'คุณต้องการล้างข้อมูลห้องทั้งหมดใช่หรือไม่?' }
&nbsp;&nbsp;&nbsp;
= link_to 'รายชื่อห้องที่มีทั้งหมดในระบบ', room_list_staffs_path
&nbsp;&nbsp;&nbsp;
= link_to 'ข้อมูลการจองที่มีทั้งหมดในระบบ', reserves_path
&nbsp;&nbsp;&nbsp;
= link_to "เปลี่ยนแปลงข่าวสาร",welcomes_path
&nbsp;&nbsp;&nbsp;
= link_to 'Log out', logout_path



