%h3 ส่วนการจัดการข่าวสารที่แสดงออกทางหน้าแรกของเว็บไซต์
%h4 คุณสามารถกำหนดรูปภาพที่จะแสดงผลได้ไม่เกิน 4 รูป (หากไม่กำหนดให้รูปใดแสดงผลเลย จะไม่ปรากฏรูปใดๆในหน้าแรก)
%br
%h3 ขณะนี้มีรูปที่กำลังแสดงผลอยู่ #{@welcomes_choose.count}รูป
%br
%table{:width=>"700px",:border=>"1"}
  %tr
    %th สถานะ
    %th ชื่อรูปภาพ
    %th แก้ไขครั้งล่าสุด
    %th เปลี่ยนสถานะ
    %th ลบรูปภาพ
  - @welcomes.each do |welcome|
    %tr
      - if welcome.choose == true
        %td= "แสดงผล"
      - else
        %td= "ไม่แสดงผล"
      %td= welcome.img_file_name
      %td= welcome.img_updated_at
      %td= link_to 'เปลี่ยนสถานะ', edit_welcome_path(welcome)
      %td= link_to 'ลบรูปภาพ', welcome, :method => :delete, :data => { :confirm => 'คุณต้องการลบรูปภาพนี้ใช่หรือไม่?' }
%br

= link_to 'เพิ่มรูปข่าวสาร', new_welcome_path
%br
%br

%center
  - if @welcomes_choose.count >= 4
    #cf4a.shadow
      = image_tag @welcomes_choose[0].img 
      = image_tag @welcomes_choose[1].img 
      = image_tag @welcomes_choose[2].img 
      = image_tag @welcomes_choose[3].img 

  - elsif @welcomes_choose.count == 3
    #cf3a.shadow
      = image_tag @welcomes_choose[0].img 
      = image_tag @welcomes_choose[1].img 
      = image_tag @welcomes_choose[2].img 

  - elsif @welcomes_choose.count == 2
    #cf2.shadow
      = image_tag @welcomes_choose[0].img , :class => "bottom"
      = image_tag @welcomes_choose[1].img , :class => "top"

  - elsif @welcomes_choose.count == 1
    = image_tag @welcomes_choose[0].img 

