!!!
%html
  %head
    %title Room Management
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => "background: #dedede"}
    - if current_page?(staffs_path)
      .navbar.navbar-inverse{:style => "position: static;"}
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".navbar-inverse-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "#", :style => "font-size:16px;"} Room Management System
            .nav-collapse.collapse.navbar-inverse-collapse
              %ul.nav
                %li.active
                  %a{:href => "#"} ส่วนของผู้ดูแลระบบ
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    จัดการห้องเรียน
                    %b.caret
                  %ul.dropdown-menu
                    %li.divider
                    %li.nav-header การเพิ่มข้อมูล
                    %li= link_to 'เพิ่มห้องใหม่', new_room_path
                    %li= link_to "เปลี่ยนแปลงข่าวสาร",welcomes_path
                    %li.divider
                    %li.nav-header ข้อมูลในระบบ
                    %li= link_to 'รายชื่อห้องที่มีทั้งหมดในระบบ', room_list_staffs_path
                    %li= link_to 'ข้อมูลการจองที่มีทั้งหมดในระบบ', reserves_path
                    %li.divider
                    %li.nav-header การล้างข้อมุล
                    %li= link_to 'กำหนดข้อมูลห้องสำหรับเทอมใหม่', @admin, method: :put, data: { confirm: 'คุณต้องการล้างข้อมูลห้องทั้งหมดใช่หรือไม่?' } 
              %ul.nav.pull-right
                %li
                  %a{:href => "#"} Welcome! #{@admin.username}
                %li.divider-vertical
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    ออกจากระบบ
                    %b.caret
                  %ul.dropdown-menu
                    %li.divider
                    %li= link_to 'ออกจากระบบ', logout_path
            / /.nav-collapse
        / /navbar-inner
    / - head and navbar
    .navbar
      .navbar-inner
        %a.brand{:href => "/"}= image_tag('logo-trans.png')
      - if !current_page?(staffs_path)
        %ul.breadcrumb
          %li.active
            %i.icon-home.icon-white
            =link_to 'หน้าแรก' , '/'
            %span.divider |
          %li
            %i.icon-wrench
            = link_to 'ค้นหาห้องว่าง', search_path
            %span.divider |
          %li
            %i.icon-wrench
            = link_to 'สำหรับเจ้าหน้าที่', login_path
            %span.divider |
          %li
            %i.icon-plus
            = link_to 'เกี่ยวกับเรา', static_pages_about_path
            %span.divider |
    / - body section
    .container-fluid
      .well
        .row-fluid
          / Sidebar content
          .span3
            %form
              %fieldset
                %legend
                  %i.icon-search
                  Search Room                
            = form_tag search_box_path ,:method=>:get do

              = label :amount_box, :amount_box, 'People to use'
              = text_field :amount_box, 'amount_box'
                  
              = label :room_type, :type_box, 'Type-box'
              = select :room_type, :type_box, @roomtype

              = label :day, :day, 'Day'

              - if @admin == nil
                = select_date Time.now+1.days,:prefix => 'date_box'
              - else
                = select_date Time.now,:prefix => 'date_box'

              = label :section, 'Section'
              = select :section, :sec_box, @time

              = submit_tag 'Search'
          .span9
            - if flash[:notice]
              #notice.message= flash[:notice]
            - elsif flash[:warning]
              #warning.message= flash[:warning]
            = yield

    / footer section
    #footer
      © 2012 Faculty of Engineering
      Thammasat University


    
   
